.mr-2 { margin-right: 20px; }

.divTable {
    display: table;
    margin-top: 200px;
    width: 100%;
}

.rowTable { display: table-row; }

.divTableHeading { display: table-header-group; }

.divTableCol, .divTableHead {
    border-bottom: 1px solid #eee;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody { display: table-row-group; }

body { background: linear-gradient(110deg, #BBDEFB 60%, #42A5F5 60%); }

.shop { font-size: 10px; }

.space { letter-spacing: 0.8px !important; }

.second a:hover { color: rgb(92, 92, 92); }

.active-2 { color: rgb(92, 92, 92) }


.breadcrumb > li + li:before { content: "" !important }

.breadcrumb {
    color: #aaa !important;

    padding: 0px;
}

.first { background-color: white; }

a {
    color: #aaa;
    text-decoration: none !important;
}

.btn-lg, .form-control-sm:focus,
.form-control-sm:active,
a:focus, a:active {
    box-shadow: none !important;
    outline: none !important;
}

.form-control-sm:focus { border: 1.5px solid #4bb8a9; }

.btn-group-lg > .btn, .btn-lg {
    background-color: #4bb8a9;
    border-radius: 0;
    border-radius: 0.2rem !important;
    color: white !important;
    font-size: 1rem;
    height: 2.8rem !important;
    padding: .5rem 0.1rem;
}

.btn-group-lg > .btn:hover, .btn-lg:hover { background-color: #26A69A; }

.btn-outline-primary {
    background-color: #fff !important;
    border: 1px solid #4bb8a9;
    border-radius: 0.2rem !important;
    color: #4bb8a9 !important;
}

.btn-outline-primary:hover {
    background-color: #4bb8a9 !important;
    border: 1px solid #4bb8a9;
    color: #fff !important;
}

.card-2 { margin-top: 40px !important; }

.card-header {
    background-color: #fff;
    border-bottom: 0px solid #aaaa !important;
}



.form-control-sm {
    border-radius: 0;
    font-size: .875rem;
    height: calc(2.2em + .5rem + 2px);
    line-height: 1.5;
}

.cursor-pointer { cursor: pointer; }

.boxed {
    background-color: #4bb8a9;
    color: white;
    padding: 0px 8px 0 8px;
}

.boxed-1 {
    border: 1px solid #aaaa;
    color: black !important;
    padding: 0px 8px 0 8px;
}

.bell {
    cursor: pointer;
    opacity: 0.5;
}

@media (max-width: 767px) {
    .breadcrumb-item + .breadcrumb-item { padding-left: 0 }
}