@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link rel="stylesheet" href="~/assets/css/StyleLoginAdmin.css">
@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger alert-dismissible fade show container fixed-top" role="alert">
        @ViewBag.ErrorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles --
        <!-- Icon -->
        <h2>LOGIN ADMIN</h2>
        <div class="fadeIn first">
            <img src="~/images/users.svg" id="icon" alt="User Icon" style="width: 100px"/>
        </div>
        <!-- Login Form -->
        <form method="post" asp-controller="Admin" asp-action="Login">
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="Username">
            </div>
            <div class="form-group">
                <label >Password:</label>
                <input type="password" name="Password">
            </div>
            <input type="submit" class="btn btn-primary" value="LOGIN">
        </form>
        <!-- Remind Passowrd -->
        <div id="formFooter" class="mt-3">
            <a class="underlineHover" data-toggle="modal" data-target="#exampleModal">Forgot Password?</a>
        </div>
        <!-- Modal -->
    </div>
</div>
<div class="modal fade  bd-example-modal-lg " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container padding-bottom-3x mb-2 mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-10">
                        <div class="forgot">
                            <h2>Forgot your password?</h2>
                            <p>Change your password in three easy steps. This will help you to secure your password!</p>
                            <ol class="list-unstyled">
                                <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                                <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                                <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                            </ol>
                        </div>
                        @using (Html.BeginForm("Forgot", "Admin", FormMethod.Post))
                        {
                            <div class="form-group">
                                <label for="username">Username:</label>
                                @Html.TextBox("username", null, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                @Html.TextBox("email", null, new { @class = "form-control", required = "required", type = "email" })
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>